{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
    <form method="POST" class="max-w-screen-sm mx-auto">
     {% csrf_token %}
        <div class="form-card">
            <label>{{ form.username.label }}</label>
            {{ form.username }}
            
            {% if form.username.errors %}
                <ul>
                    {% for error in form.username.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="form-card">
            <label>{{ form.password.label }}</label>
            {{ form.password }}
            
            {% if form.password.errors %}
                <ul>
                    {% for error in form.password.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    <button type="submit" name="submit" value="Submit" class="w-20">Submit</button>
    </form>
{% endblock %}